In [8]:
import pandas as pd
#pandas is a library function and it related to the database also named as pd short form

In [9]:
dataset=pd.read_csv("Salary_Data.csv")#In pd.read_csv function under pandas salary_data.csv is called and assigned to the dataset variable

In [10]:
dataset #displaying the dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [32]:
independent=dataset[["YearsExperience"]]#Assigning dataset of specific yearsexperience as a input in independant variable(splitting i/p)
independent#displaying independent variable

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [33]:
dependant=dataset[["Salary"]]#Assigning dataset of specific salary as a output in dependant variable(splitting output)
dependant #displaying dependent variable

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [38]:
from sklearn.model_selection import train_test_split#creating a model using a sklearn library function and model selection as a folder
importing train and test set as split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependant,test_size=0.30,random_state=0)
#after importing the value should be input training set and input test set and output training set and test set 
#like X_train,X_test,Y_train,Y_test= assigned to train_test_split as(train is independant and test as dependant also test value size=0.30
#and random_state=0 this all are assigned to X_train,X_test,Y_train,Y_test
#in this step splitting train and test into( 2 input variable of train and test also 2output varaibles of test and train)

In [49]:
from sklearn.linear_model import LinearRegression#We founded a model is linear model so from using sklearn creating a model as 
#linear_model and importing LinearRegression
regressor=LinearRegression() #assigning LinearRegression() class as variable to regressor
regressor.fit(X_train,Y_train) #calling regressor.fit by the training set i/p & o/p as(X_train,Y_train)
#substituting a values in formula in this step,learning process is done here also calculating values for w and b
#once the above line is executed model is created it is called the LinearRegression() (reference ↓ line) and values are saved in regressor

LinearRegression()

In [40]:
weight=regressor.coef_#after model is created we are cross checking with weight assigning regressor.coeffient = variable weight and displaying weight
weight

array([[9360.26128619]])

In [41]:
bias=regressor.intercept_ #after model is created we are cross checking with bias assigning regressor.intercept = variable bias and displaying bias
bias

array([26777.3913412])

In [42]:
Y_pred=regressor.predict(X_test)#this is a evaluation process.in regressor all will be saved and in this calling predict as a function in regressor and evaluation metric for Xtest set since( ytest is actual data)

In [43]:
from sklearn.metrics import r2_score #sklearn is a library and metric is folder and importing r2score is a function
r_score=r2_score(Y_test,Y_pred)#in this step assigning r2score to rscore with (actual value ,predicted value)
r_score#displaying rscore variable and ouput is nearly to 1 is good and it is near to zero is bad,in this case it is a good model

0.9740993407213511

In [44]:
import pickle#creating a function with pickle to save the model
filename="Finalized_model_linear.sav" #mentioned with .sav filename and assigned to filename variable

In [45]:
pickle.dump(regressor,open(filename,'wb'))#opening a file with dump in the regressor which all is saved in regressor and open with (filename ,wb) wb=write binary
#here opeining a file with filename usimng pickle.dump and it is saved as finalized model linear in the same folder

In [47]:
loaded_model=pickle.load(open("Finalized_model_linear.sav",'rb'))#here loading a saved model using load and open ("filename with ext", read binary)
result=loaded_model.predict([[15]])#after loaded, assigning loaded model.predict to result for checking with input
result displaying result

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[167181.3106341]])

In [50]:
#for no (15) the array is 167181.3106341, similarly for deployment create a file using python and name it as Deployment phase-1 and 
import pickle #importing from pickle
loaded_model=pickle.load(open("Finalized_model_linear.sav",'rb'))#here loading a saved model using load and open ("filename with ext", read binary)
result=loaded_model.predict([[15]])#after loaded, assigning loaded model.predict to result for checking with input
result#displaying result

In [ ]:
array([[167181.3106341]])
#we found the output for the model for number 15 similary we can check for the no:0 (i.e is o years of exp or fresher salary) since it is not in our table starting wth 1.1 years of exp